div.row-fluid
    div.form.well
        legend Publishing routes
        div.control-group
            label.control-label Server IP
            div.controls
                div.input-append
                    input#appendedInputButton(size="16", type="text")
                    button.btn(type="button") Ping
        div.contol-group
            button.btn#publishRoutesButton Publish
            button.btn#unpublishRoutesButton UnPublish
script(type='text/javascript', src='/javascripts/app/plugins/apollo_web/index.js')
