div.row-fluid
    div.span9.tabbable
        ul.nav.nav-tabs#tabNavigation
            li.active
                a(href="#apollo_web", data-toggle="tab")
                    b Apollo-Web
        div.tab-content
            div.tab-pane.active#apollo_web
                include plugins/apollo_web/view.jade
