!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/excite-bike/jquery-ui-1.8.16.custom.css')
    link(rel='stylesheet', href='/stylesheets/ui.jqgrid.css')
    script(type='text/javascript', src='/javascripts/jquery-1.7.2.min.js')
    script(type='text/javascript', src='/javascripts/jquery.jqGrid.min.js')
    script(type='text/javascript', src='/javascripts/underscore.js')
    script(type='text/javascript', src='/javascripts/backbone.js')
    script(type='text/javascript', src='/javascripts/bootstrap.js')
    script(type='text/javascript', src='/javascripts/require.js', data-main='/javascripts/app/main.js')
  body
    .container-fluid
        .span12
            h1
                a(href="/")= title
        != body

